In [1]:
import pandas as pd
from pororo import Pororo

In [2]:
 ner = Pororo(task="ner", lang="ko")

/opt/conda/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
[nltk_data] Downloading package punkt to /opt/ml/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [3]:
df = pd.read_csv("/opt/ml/input/data/train/train.tsv", delimiter='\t', header=None)
df_add = pd.read_csv("/opt/ml/input/data/train/all_csv.tsv", delimiter='\t', header=None)
df_born_city = pd.read_csv("/opt/ml/input/data/train/19_bornIn_city.tsv", delimiter='\t', header=0)
df_born_ctry = pd.read_csv("/opt/ml/input/data/train/26_bornIn_country.tsv", delimiter='\t', header=0)
df_death_city = pd.read_csv("/opt/ml/input/data/train/37_dienIn_city.tsv", delimiter='\t', header=0)
df_death_ctry = pd.read_csv("/opt/ml/input/data/train/40_dienIn_country.tsv", delimiter='\t', header=0)

In [4]:
# df_add.loc[0, 1]
len(df_add[df_add[1] == df_add.loc[0,1]])

4

In [5]:
print(len(df[1].unique()))
print(len(df))

8573
9000

In [6]:
df_add.head(
)

,0,1,2,3,4,5,6,7,8
0,from train_csv 5,"카터 는 이집트 와 이스라엘 을 조정 하 여 , 캠프 데이비드 에서 안와르 사다트 ...",안와르 사다트,38,44,이집트,5,7,인물:출신성분/국적
1,from train_csv 8,"카터 는 이집트 와 이스라엘 을 조정 하 여 , 캠프 데이비드 에서 안와르 사다트 ...",캠프데이비드 협정,78,86,이스라엘,11,14,단체:구성원
2,from train_csv 9,"카터 는 이집트 와 이스라엘 을 조정 하 여 , 캠프 데이비드 에서 안와르 사다트 ...",캠프데이비드 협정,78,86,이집트,5,7,단체:구성원
3,from train_csv 11,"카터 는 이집트 와 이스라엘 을 조정 하 여 , 캠프 데이비드 에서 안와르 사다트 ...",메나헴 베긴,52,57,이스라엘,11,14,인물:출신성분/국적
4,from train_csv 65,선거 전 까지 각축전 을 벌인 유력 한 후보 는 15 대 대통령 선거 에 나와 김대...,한나라당,63,66,이회창,75,77,단체:구성원

In [14]:
print(f"total sentence : {len(df_add)}")
print(f"unique sentence : {len(df_add[1].unique())}")

total sentence : 229611
unique sentence : 179733

In [15]:
print(f"total sentence : {len(df_born_city)}")
print(f"unique sentence : {len(ddf_born_city1'sentence'.unique())}")

total sentence : 15402
unique sentence : 14504

In [8]:
sentence1 = df[1]
sentence2 = df_add[1]
sentence3 = df_born_city['sentence']
sentence4 = df_born_ctry['sentence']
sentence5 = df_death_city['sentence']
sentence6 = df_death_city['sentence']

In [10]:
sentences = pd.concat([sentence1, sentence2, sentence3, sentence4, sentence5, sentence6])

In [14]:
print(len(sentences.unique()))
print(len(sentences))

198008
283152

In [9]:
def delete_duplicate(df):
    return df.drop_duplicates([1])

In [10]:
df_new = delete_duplicate(df_add)

In [11]:
print(len(df_add))
print(len(df_new))

229611
179733

In [12]:
df_new.head()

,0,1,2,3,4,5,6,7,8
0,from train_csv 5,"카터 는 이집트 와 이스라엘 을 조정 하 여 , 캠프 데이비드 에서 안와르 사다트 ...",안와르 사다트,38,44,이집트,5,7,인물:출신성분/국적
4,from train_csv 65,선거 전 까지 각축전 을 벌인 유력 한 후보 는 15 대 대통령 선거 에 나와 김대...,한나라당,63,66,이회창,75,77,단체:구성원
6,from train_csv 68,한나라당 은 2002 년 4 월 13 일 부터 5 월 9 일 까지 경선 을 통해 ...,한나라당,1,4,이회창,46,48,단체:구성원
7,from train_csv 69,"함석헌 ( 咸錫憲 , 1901 년 3 월 13 일 ~ 1989 년 2 월 4 일 ...",함석헌,1,3,종교인,66,68,인물:직업/직함
9,from train_csv 73,그 의 종교 는 초기 에 는 일본 유학 중 에 우치무라 간조 의 영향 을 받 아 무...,우치무라 간조,26,32,일본,16,17,인물:출신성분/국적

In [37]:
df_born_city.head()

,sentence,entity_01,entity_02,label
0,함석헌 은 1901 년 평안북도 용천 에서 출생 했 다 .,함석헌,평안북도,19
1,토마스 만 은 평의원 이 며 곡물 상인 이 었 던 토마스 요한 하인리히 만 과 율...,토마스 만,뤼베크,19
2,"하인리히 뵐 ( Heinrich B ö ll , 쾰른 , 1917 년 12 월 2...",하인리히 뵐,랑엔브로이히,19
3,"하인리히 뵐 ( Heinrich B ö ll , 쾰른 , 1917 년 12 월 2...",하인리히 뵐,쾰른,19
4,노무현 은 ' 1986 년 부산광역시 에서 송기인 신부 로부터 영세 를 받 아 '...,송기인,부산광역시,19

In [7]:
print(len(df))
print(len(df_add))
print(len(df_born_city))
print(len(df_born_ctry))
print(len(df_death_city))
print(len(df_death_ctry))

9000
229611
15402
28037
551
6910

In [55]:
df[8].value_counts()

관계_없음          4432
단체:구성원          815
인물:소속단체         683
인물:직업/직함        553
단체:상위_단체        335
단체:별칭           231
인물:출신성분/국적      209
인물:동료           186
단체:제작           171
인물:부모님          164
단체:본사_도시        135
단체:본사_국가        115
인물:별칭           103
인물:배우자           92
인물:자녀            84
단체:하위_단체         79
단체:창립일           67
인물:기타_친족         58
인물:제작            56
인물:형제/자매/남매      52
인물:사망_일시         45
단체:창립자           45
단체:모회사           44
인물:출생_일시         36
인물:거주_국가         27
인물:거주_도시         26
단체:본사_주(도)       23
단체:정치/종교성향       18
인물:종교            15
단체:해산일           15
인물:거주_주(도)       12
단체:주주            11
인물:용의자           11
인물:학교             9
단체:구성원_수          9
인물:출생_국가          8
인물:사망_원인          7
단체:자회사            6
인물:나이             5
인물:출생_도시          4
인물:사망_도시          3
인물:사망_국가          1
Name: 8, dtype: int64

In [56]:
df_add[8].value_counts()

인물:출신성분/국적    77850
인물:직업/직함      34615
단체:창립일        27757
인물:제작         16601
단체:제작         15039
단체:구성원        13779
인물:배우자        11205
인물:자녀         10461
인물:기타_친족       9650
인물:부모님         4566
단체:상위_단체       3436
인물:학교          2062
단체:정치/종교성향     1591
인물:소속단체         875
단체:창립자          124
Name: 8, dtype: int64

In [59]:
labels = df_add[8].unique()

In [11]:
sampled_data = df_add.sample(9000, random_state=42)
sampled_data[8].value_counts()

인물:출신성분/국적    3030
인물:직업/직함      1312
단체:창립일        1110
인물:제작          655
단체:제작          600
단체:구성원         542
인물:배우자         434
인물:기타_친족       408
인물:자녀          388
인물:부모님         205
단체:상위_단체       138
인물:학교           77
단체:정치/종교성향      63
인물:소속단체         35
단체:창립자           3
Name: 8, dtype: int64

In [60]:
for label in labels:
    temp_df = df_add[df_add[8] == label]
    df = pd.concat([df, temp_df.iloc[:100]], axis=0, ignore_index=True)

In [61]:
df[8].value_counts()

관계_없음          4432
단체:구성원          915
인물:소속단체         783
인물:직업/직함        653
단체:상위_단체        435
인물:출신성분/국적      309
단체:제작           271
인물:부모님          264
단체:별칭           231
인물:배우자          192
인물:동료           186
인물:자녀           184
단체:창립일          167
인물:기타_친족        158
인물:제작           156
단체:창립자          145
단체:본사_도시        135
단체:정치/종교성향      118
단체:본사_국가        115
인물:학교           109
인물:별칭           103
단체:하위_단체         79
인물:형제/자매/남매      52
인물:사망_일시         45
단체:모회사           44
인물:출생_일시         36
인물:거주_국가         27
인물:거주_도시         26
단체:본사_주(도)       23
인물:종교            15
단체:해산일           15
인물:거주_주(도)       12
단체:주주            11
인물:용의자           11
단체:구성원_수          9
인물:출생_국가          8
인물:사망_원인          7
단체:자회사            6
인물:나이             5
인물:출생_도시          4
인물:사망_도시          3
인물:사망_국가          1
Name: 8, dtype: int64

In [67]:
from sklearn.model_selection import train_test_split
train, val = train_test_split(df, test_size=0.2, random_state=42)

In [68]:
print(len(train))
print(len(val))

8400
2100

In [69]:
train[8].value_counts()

관계_없음          3546
단체:구성원          732
인물:소속단체         632
인물:직업/직함        518
단체:상위_단체        335
인물:출신성분/국적      234
인물:부모님          218
단체:제작           214
단체:별칭           186
인물:자녀           155
인물:배우자          151
인물:동료           150
단체:창립일          136
인물:기타_친족        133
인물:제작           127
단체:본사_도시        116
단체:창립자          110
단체:정치/종교성향       97
단체:본사_국가         90
인물:학교            87
인물:별칭            84
단체:하위_단체         63
인물:형제/자매/남매      43
인물:사망_일시         37
단체:모회사           32
인물:출생_일시         31
인물:거주_국가         24
단체:본사_주(도)       19
인물:거주_도시         18
단체:해산일           13
인물:거주_주(도)       12
인물:용의자           10
인물:종교            10
단체:구성원_수          6
인물:사망_원인          6
단체:주주             5
인물:출생_국가          5
단체:자회사            5
인물:나이             4
인물:출생_도시          3
인물:사망_도시          2
인물:사망_국가          1
Name: 8, dtype: int64

In [44]:
def preprocessing_dataset(dataset, label_type, train=True):
    label = []
    for i in dataset[8]:
        if i == 'blind':
            label.append(100)
        else:
            label.append(label_type[i])
    out_dataset = pd.DataFrame(
        {'sentence': dataset[1], 'entity_01': dataset[2], 'entity_02': dataset[5], 'label': label, })

    if train:
        # 추가 데이터
        df_born_city = pd.read_csv(
            "/opt/ml/input/data/train/19_bornIn_city.tsv", delimiter='\t', header=0)
        df_born_ctry = pd.read_csv(
            "/opt/ml/input/data/train/26_bornIn_country.tsv", delimiter='\t', header=0)
        df_death_city = pd.read_csv(
            "/opt/ml/input/data/train/37_dienIn_city.tsv", delimiter='\t', header=0)
        df_death_ctry = pd.read_csv(
            "/opt/ml/input/data/train/40_dienIn_country.tsv", delimiter='\t', header=0)

        df_born_city = df_born_city.iloc[:10]
        df_born_ctry = df_born_ctry.iloc[:10]
        df_death_city = df_death_city.iloc[:10]
        df_death_ctry = df_death_ctry.iloc[:10]
        out_dataset = pd.concat([out_dataset, df_born_city, df_born_ctry,
                                df_death_city, df_death_ctry], axis=0, ignore_index=True)
        train, val = train_test_split(out_dataset, test_size=0.2, stratify=out_dataset['label'], shuffle=True, random_state=42)
    ##########
        return train, val
    else:
        return out_dataset

In [45]:
def load_data(dataset_dir, train=True):
    # load label_type, classes
    with open('/opt/ml/input/data/label_type.pkl', 'rb') as f:
        label_type = pickle.load(f)
    # load dataset
    dataset = pd.read_csv(dataset_dir, delimiter='\t', header=None)
    ### 추가 데이터셋 투입(라벨별 100개씩만) ###

    ##########################################
    # preprecessing dataset
    if train:
        additional_dataset = pd.read_csv(
            "/opt/ml/input/data/train/all_csv.tsv", delimiter='\t', header=None)
        # labels = additional_datast[8].unique()
        # for label in labels:
        #     temp_df = additional_datast[additional_datast[8] == label]
        #     dataset = pd.concat([dataset, temp_df.iloc[:100]],
        #                         axis=0, ignore_index=True)
        additional_dataset = additional_dataset.sample(4000, random_state=42)
        dataset = pd.concat([dataset, additional_dataset],
                            axis=0, ignore_index=True)
        train, val = preprocessing_dataset(dataset, label_type)
        return train, val
    else:
        dataset = preprocessing_dataset(dataset, label_type, train=False)
        return dataset

In [46]:
from sklearn.model_selection import train_test_split
import pickle
train_dataset, val_dataset = load_data(
        "/opt/ml/input/data/train/train.tsv")
    #dev_dataset = load_data("./dataset/train/dev.tsv")
train_label = train_dataset['label'].values
val_label = val_dataset['label'].values

In [ ]:
sorted(pd.Series(train_label).unique())

In [ ]:
sorted(pd.Series(val_label).unique())

In [27]:
with open('/opt/ml/input/data/label_type.pkl', 'rb') as f:
        label_type = pickle.load(f)

In [28]:
label_type

{'관계_없음': 0,
 '인물:배우자': 1,
 '인물:직업/직함': 2,
 '단체:모회사': 3,
 '인물:소속단체': 4,
 '인물:동료': 5,
 '단체:별칭': 6,
 '인물:출신성분/국적': 7,
 '인물:부모님': 8,
 '단체:본사_국가': 9,
 '단체:구성원': 10,
 '인물:기타_친족': 11,
 '단체:창립자': 12,
 '단체:주주': 13,
 '인물:사망_일시': 14,
 '단체:상위_단체': 15,
 '단체:본사_주(도)': 16,
 '단체:제작': 17,
 '인물:사망_원인': 18,
 '인물:출생_도시': 19,
 '단체:본사_도시': 20,
 '인물:자녀': 21,
 '인물:제작': 22,
 '단체:하위_단체': 23,
 '인물:별칭': 24,
 '인물:형제/자매/남매': 25,
 '인물:출생_국가': 26,
 '인물:출생_일시': 27,
 '단체:구성원_수': 28,
 '단체:자회사': 29,
 '인물:거주_주(도)': 30,
 '단체:해산일': 31,
 '인물:거주_도시': 32,
 '단체:창립일': 33,
 '인물:종교': 34,
 '인물:거주_국가': 35,
 '인물:용의자': 36,
 '인물:사망_도시': 37,
 '단체:정치/종교성향': 38,
 '인물:학교': 39,
 '인물:사망_국가': 40,
 '인물:나이': 41}